target
test-output
deployments
*~
.DS_Store
.faces-config.xml.faceside
.faces-config.xml.jsfdia
.tern-project
MANIFEST.MF
bin
.openshift
*/.gitignore
.gitkeep
README.html
CONTRIBUTING.html
RELEASE_PROCEDURE.html
.errai
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
.nbattrs
*.log
.clover
*.swp
!/wicket-war/src/main/resources/META-INF/MANIFEST.MF
build
**/nbproject/private



